body{
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-family: Big Shoulders Display;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    overflow-x: hidden;
}

.mainSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.box{
    box-sizing: border-box;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-family: Lexend Deca;
    font-weight: 400;
    max-width: 25rem;
}
.box img{
    width: 4rem;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}
.headings{
    color:  hsl(0, 0%, 95%);
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
}
.learnMore {
    background-color: hsl(0, 0%, 95%);
    border: solid 1px hsl(0, 0%, 95%);
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    width: 5rem;
    text-align: center;
}
#learn1{
    color:hsl(31, 77%, 52%);
}
#learn1:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75); 
}
#learn2{
    color: hsl(184, 100%, 22%);
}
#learn2:hover{
    background-color: hsl(184, 100%, 22%);
    color:hsla(0, 0%, 100%, 0.75);
}
#learn3{
    color: hsl(179, 100%, 13%);
}
#learn3:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution{
    text-decoration: none;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: hsl(184, 100%, 22%);
}

/*Movil*/
@media (min-width: 375px) and (max-width: 1440px) {
    .mainSection {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0rem 0rem;
        margin: 0;
        width: 100%
    }
    .box p{
        flex-wrap: wrap;
    }
    .attribution{
        margin-top: 2rem;
    }
}